<script type="text/template" id="task-mainview-template">

    <div id="task-mainview">

        <img class="background-image" src="assets/image/task/task-intro-bg.jpg" />

        <div id="task-screenview">

        </div>

        <div id="task-conversationview">

        </div>

        <div id="task-feedbackBox">
            <div class="content"></div>
            <div id="task-conclusionButton" class="standard-button">Continue</div>
        </div>

        <div id="task-startButton" class="standard-button">Start</div>

    </div>

</script>