<script type="text/template" id="task-screenview-template">
    
    <img id='task-bgContainer' />

    <div id="task-overlayContainer" class="task-element"></div>

    <div id="task-hintContainer" class="task-element"></div>

    <div id="task-hintCallout" >
        <div class="content"></div>
        <img id="arrow-top" src="assets/image/ui/arrow-blue_t.png"/>
        <img id="arrow-bottom" src="assets/image/ui/arrow-blue_b.png"/>
    </div>

    <div id="task-screenClick" class="task-element"><img class="transparent-bg" src="assets/image/ui/transparent-bg.png"/></div>

    <div id="task-cueContainer" class="task-element">
        <div id="task-postit"><div class="postit-handle"></div><div class="content"></div></div>
        <image id="task-cue-img" />
    </div>

    <div id="task-gestureContainer" class="task-element"></div>

    <div class="task-screenInstructions">
        <div class="content"></div>
        <div class="standard-button">Continue</div>
    </div>

    <div class="task-element scrim-background"></div>


</script>